<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZanTodo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mogenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41C205A31BF9623A00266327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41C205BF1BF9623A00266327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41C205CA1BF9623A00266327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41C205ED1BF9641900266327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
